body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #073b4c;
}

.birthdayCard {
  position: relative;
  width: 300px; /* Increased width */
  height: 400px; /* Increased height */
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 30px 0 50px rgba(0,0,0,0.4);
  transition: .6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  transition: .1s;
}

.balloons {
  position: absolute;
}

.balloonOne, .balloonTwo, .balloonThree, .balloonFour, .balloonFive, .balloonSix, .balloonSeven, .balloonEight {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloonOne {
  background-color: rgba(239, 71, 141, 0.7);
  left: -10px;
  top: 50px;
}

.balloonTwo {
  background-color: rgba(23, 214, 6, 0.7);
  left: 50px;
  top: 20px;
}

.balloonThree {
  background-color: rgba(241, 222, 11, 0.7);
  left: 110px;
  top: 50px;
}

.balloonFour {
  background-color: rgba(17, 138, 178, 0.7);
  left: 170px;
  top: 20px;
}

.balloonFive {
  background-color: rgba(237, 28, 36, 0.7);
  left: 230px;
  top: 50px;
}

.balloonSix {
  background-color: rgba(0, 163, 255, 0.7);
  left: 290px;
  top: 20px;
}

.balloonSeven {
  background-color: rgba(255, 0, 255, 0.7);
  left: 350px;
  top: 50px;
}

.balloonEight {
  background-color: rgba(255, 165, 0, 0.7);
  left: 410px;
  top: 20px;
}

.balloonOne:before, .balloonTwo:before, .balloonThree:before, .balloonFour:before, .balloonFive:before, .balloonSix:before, .balloonSeven:before, .balloonEight:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 155px;
  background-color: #ffd166;
  top: 95px;
  left: 43px;
}

.balloonOne:after, .balloonTwo:after, .balloonThree:after, .balloonFour:after, .balloonFive:after, .balloonSix:after, .balloonSeven:after, .balloonEight:after {
  content: "";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 94px;
  left: 37px;
}

.balloonOne:after {
  border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
  border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
  border-bottom: 10px solid #ffd166;
}

.balloonFour:after {
  border-bottom: 10px solid #118ab2;
}

.balloonFive:after {
  border-bottom: 10px solid #ed1c24;
}

.balloonSix:after {
  border-bottom: 10px solid #00a3ff;
}

.balloonSeven:after {
  border-bottom: 10px solid #ff00ff;
}

.balloonEight:after {
  border-bottom: 10px solid #ffa500;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  border: 2px solid yellowgreen;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

p {
  font-family: cursive;
  margin: 40px;
  color: #333;
}

.name {
  position: absolute;
  left: 150px;
  top: 200px;
  color: #333;
  text-decoration: underline;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}

.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}
